@page "/register"
@using System.ComponentModel.DataAnnotations
@using Progra3_Frontend.Model
@using Progra3_Frontend.Services
@using Progra3_Frontend.Services.Auth
@inject NavigationManager Navigation
@inject ClientesRS clienteRS
@inject CustomAuthenticationStateProvider AuthProvider

<div class="container">
    <section>
        <div class="form-header">
            <h1 class="title">
                CREAR CUENTA
            </h1>
            <h3 class="sub-title">
                Completa tus datos para crear tu cuenta.
            </h3>
            <div class="hr"></div>
        </div>

        <EditForm Model="formUser" OnValidSubmit="CrearCuenta" class="form-body">
            <DataAnnotationsValidator />
            
            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div class="alert alert-danger" style="color: red; margin-bottom: 15px; font-weight: bold;" role="alert">
                    @errorMessage
                </div>
            }

            <div class="register-container">
                <div class="left-column">
                    <div class="form-input">
                        <label>Nombre(s)</label>
                        <div class="input-container">
                            <i class="bi bi-person"></i>
                            <InputText @bind-Value="formUser.Nombres" placeholder="Ingresa tu nombre" />
                        </div>
                        <ValidationMessage For="@(() => formUser.Nombres)" />
                    </div>

                    <div class="double-row">
                        <div class="form-input">
                            <label>Apellido Paterno</label>
                            <div class="input-container">
                                <i class="bi bi-person"></i>
                                <InputText @bind-Value="formUser.ApellidoPaterno" placeholder="Apellido paterno" />
                            </div>
                            <ValidationMessage For="@(() => formUser.ApellidoPaterno)" />
                        </div>

                        <div class="form-input">
                            <label>Apellido Materno</label>
                            <div class="input-container">
                                <i class="bi bi-person"></i>
                                <InputText @bind-Value="formUser.ApellidoMaterno" placeholder="Apellido materno" />
                            </div>
                            <ValidationMessage For="@(() => formUser.ApellidoMaterno)" />
                        </div>
                    </div>

                    <div class="form-input">
                        <label>Correo electrónico</label>
                        <div class="input-container">
                            <i class="bi bi-envelope"></i>
                            <InputText @bind-Value="formUser.Email" placeholder="ejemplo@correo.com" />
                        </div>
                        <ValidationMessage For="@(() => formUser.Email)" />
                    </div>

                    <div class="form-input">
                        <label>Contraseña</label>
                        <div class="input-container">
                            <i class="bi bi-lock-fill"></i>
                            <InputText @bind-Value="formUser.Password"  placeholder="Crea una contraseña" />
                        </div>
                        <ValidationMessage For="@(() => formUser.Password)" />
                    </div>

                    <div class="form-input">
                        <label>Repetir Contraseña</label>
                        <div class="input-container">
                            <i class="bi bi-lock-fill"></i>
                            <InputText @bind-Value="formUser.ConfirmPassword"  placeholder="Repite tu contraseña" />
                        </div>
                        <ValidationMessage For="@(() => formUser.ConfirmPassword)" />
                    </div>
                </div>

                <div class="right-column">
                    <div class="form-input">
                        <label>DNI</label>
                        <div class="input-container">
                            <i class="bi bi-person-vcard"></i>
                            <InputText @bind-Value="formUser.Dni" placeholder="Ingresa tu DNI" maxlength="8" />
                        </div>
                        <ValidationMessage For="@(() => formUser.Dni)" />
                    </div>

                    <div class="form-input">
                        <label>Teléfono</label>
                        <div class="input-container">
                            <i class="bi bi-telephone"></i>
                            <InputText @bind-Value="formUser.Telefono" placeholder="Ingresa tu teléfono" maxlength="9" />
                        </div>
                        <ValidationMessage For="@(() => formUser.Telefono)" />
                    </div>

                    <div class="form-input">
                        <label>Fecha de Nacimiento</label>
                        <div class="input-container">
                            <i class="bi bi-calendar3"></i>
                            <InputDate @bind-Value="formUser.FechaNacimiento" />
                        </div>
                        <ValidationMessage For="@(() => formUser.FechaNacimiento)" />
                    </div>
                </div>
            </div>

            <button type="submit" class="register-button">
                Crear Cuenta
            </button>

            <div class="footer-link">
                <span class="label">¿Ya tienes cuenta?</span>
                <a href="/login" class="link"><u>Iniciar sesión</u></a>
            </div>
        </EditForm>
    </section>
</div>

@code {
    private RegistroUsuario formUser = new();
    
    private string? errorMessage;

    private async Task CrearCuenta()
    {
        errorMessage = null;

        Cliente cliente = new();
        cliente.dni = formUser.Dni;
        cliente.correo = formUser.Email;
        cliente.nombre = formUser.Nombres;
        cliente.apellidoCompleto = formUser.ApellidoPaterno + " " + formUser.ApellidoMaterno;
        cliente.contrasenaHash = formUser.Password; //TODO: Encriptar mensaje
        cliente.fechaNacimiento = formUser.FechaNacimiento;
        cliente.telefono = formUser.Telefono; 
        
        Cliente? nuevoCliente = await clienteRS.InsertarAsync(cliente);

        if (nuevoCliente == null)
        {
            errorMessage = "Hubo un problema al crear la cuenta. Verifica tus datos o intenta más tarde.";
        }
        else
        {
            await AuthProvider.Login(
                nuevoCliente.idUsuario,
                nuevoCliente.nombre,
                "CLIENTE"
            );
            Navigation.NavigateTo("/");
        }
    }

    public class RegistroUsuario
    {
        [Required(ErrorMessage = "El nombre es obligatorio")]
        [MinLength(2)]
        public string Nombres { get; set; } = "";

        [Required(ErrorMessage = "El apellido paterno es obligatorio")]
        public string ApellidoPaterno { get; set; } = "";

        [Required(ErrorMessage = "El apellido materno es obligatorio")]
        public string ApellidoMaterno { get; set; } = "";

        [Required(ErrorMessage = "El DNI es obligatorio")]
        [RegularExpression(@"^\d{8}$", ErrorMessage = "El DNI debe contener exactamente 8 dígitos")]
        public string Dni { get; set; } = "";

        [Required(ErrorMessage = "El teléfono es obligatorio")]
        [RegularExpression(@"^\d{9}$", ErrorMessage = "El teléfono debe contener exactamente 9 dígitos")]
        public string Telefono { get; set; } = "";

        [Required(ErrorMessage = "El correo es obligatorio")]
        [EmailAddress(ErrorMessage = "Correo inválido")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Debe ingresar una contraseña")]
        [MinLength(8, ErrorMessage = "La contraseña debe tener mínimo 8 caracteres")]
        public string Password { get; set; } = "";

        [Required(ErrorMessage = "Debe repetir la contraseña")]
        [Compare(nameof(Password), ErrorMessage = "Las contraseñas no coinciden")]
        public string ConfirmPassword { get; set; } = "";

        [Required(ErrorMessage = "Seleccione una fecha")]
        public DateTime? FechaNacimiento { get; set; }
    }
}
